.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  align-items: center;
  letter-spacing: 0.06em;
  min-width: 216px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: var(--indent-number);
  color: var(--active-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--animation-behavior);
  cursor: pointer;
    &:hover,
    &:focus {
      color: var(--active-color);
      background-color: #188ce8;
      outline: none;
    }
}

