:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --active-color: #fff;
  --indent-number: 30px;
  --animation-behavior: cubic-bezier(0.4, 0, 0.2, 1);
}