.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width:768px) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  @media screen and (min-width:1200px) {
    padding-bottom: 25px;
    padding-top: 24px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000;
  outline: none;

  @media screen and (min-width:1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.text-link__part {
  color: var(--accent-color);
}

.navigation__container {
  display: none;
  
  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width:1200px) {
    margin-left: 93px;
    margin-right: auto;
  }
}

.site-nav__container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width:768px) {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.contacts {
  display: none;

  @media screen and (min-width:768px) {
    display: block;
  }
}

.site-contacts__container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width:768px) {
      gap: 10px;
    }
  
  @media screen and (min-width:1200px){
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.site-nav__link,
.site-contacts__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  @media screen and (min-width:768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link {
  color: var(--title-text-color);
  transition: color 250ms var(--animation-behavior);
  
  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }

  @media screen and (min-width:768px) {
    padding: 32px 0;
  }
}

.site-nav__link--active {
  color: var(--accent-color);

  @media screen and (min-width:768px) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: currentColor;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      bottom: 0px;
      left: 0;
    }
  }
  
}

.site-contacts__link {
  color: var(--primary-text-color);

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: currentColor;
    transition: color 250ms var(--animation-behavior);

    &:hover,
    &:focus {
      color: var(--accent-color);
      outline: none;
    }
  }
}

.site-contacts__link--color {
  color: #2196F3;
}

.site-contacts__link--size {
  font-size: calc(12px + 12px * (100vw / 480px));
  line-height: 1.17;

  @media screen and (min-width:480px) {
    font-size: 24px;
  }
}
