.projects-list__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-number);
  margin-top: 50px;
}

.projects-list__content {
  flex-basis: calc((100% - 60px) / 3);
}

.card-project {
  transition: box-shadow 250ms var(--animation-behavior);
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--animation-behavior),
    background-color 250ms var(--animation-behavior), opacity 250ms var(--animation-behavior);
    .card-project:hover & {
        transform: translateY(0);
        opacity: 1;
      }
}

.overlay__paragraph {
  color: var(--active-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 28px;
}

.card-project__content {
  background: var(--active-color);
  border: 1px solid #eee;
  padding: 20px 24px;
}

.card-project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-project__paragraph {
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
}